<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataSourceEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9005/" binding="basicHttpBinding"
                bindingConfiguration="DataSourceEndpoint" contract="DataSourceService.IDataSourceService"
                name="DataSourceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>